		.pai{
			width: 100%;
			height: 55vh;
			background-color: darkgreen;
			display: flex;
			flex-direction: column;
		}
		.filho1{
			width: 15%;
			height: 20vh;
			background-color: darkgreen;
			justify-content: normal;
		}
		.filho2{
			width: 100%;
			height: 50vh;
			background-color: lightgray;
		}
		.pai2{
			width: 100%;
			height: 80vh;
			background-color: white;
			display: flex;
			flex-direction: row-reverse;
		}
		.filho3{
			width: 30%;
			height: 80vh;
			flex-direction: column-reverse;
			background-color: white;
		}
		.pai3{
			width: 100%;
			height: 20vh;
			background-color: darkgreen;
			display: flex;
			flex-direction: row-reverse;
		}
		#imgf1{
			margin: 2vh;
		}
		#Buscar{
			position: absolute;

			margin: 4vh 2% 4vh 80%;
			width: 13%;
			 height: 4vh;
			 color: green;
			 border-color: black;
			 border-style: solid;
			 border-bottom: 1vh;
		}
		#fecigran{
			margin: 3vh ;
			text-align: center;
		}
		#eleicao{
			position: absolute;
			margin: 2vh 40% 2vh 10%;
			
		}
	.tx{
		margin: 2vh 0% 2vh 0%;
		color:blue;
		font-size: 25px;
		font-family: sans-serif;
		
	}
	.guias{
		margin: 5px 5px 0px 0px;
	}
@media (max-width:760px) {
	.filho2{
		display:none;
	}
	#fecigran{
		display: block;
	}
	#Buscar{
		display: none;
	}
	.pai{
		width: 100%;
		height: 20vh;
		flex-direction: row;
		text-align: center;
		margin: 0vh;

	}
	.filho1{
		text-align: center !important;
		margin: 0vh;
		align-content: center;
		}
		#imgf1{
		align-content: center;
		position: absolute;
		width: 18%;
		height: 15vh;
		margin: 2vh 45% 2vh 35%;
		}
		.pai2{
			flex-direction: column;

			width: 100%;

			height: 120vh;
		}
		.filho3{
			margin:5vh 0% 5vh 0%;

			text-align: center;

			width: 100%;

		}
		.tx{
			font-size: 15px;
		}
		#eleicao{
			position: relative;
			margin: 2vh 0% 2vh 0%;}

			.pai3{
				height: 30vh;
			}
}